<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>eCommerce FastAPI</title>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="{{ url_for('static', path='css/styles.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', path='fontawesome/css/all.css') }}" rel="stylesheet">

  <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/images/favicon.ico') }}">
</head>

<body>
  <div class="container mx-auto">
