<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>eCommerce FastAPI</title>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="{{ url_for('static', path='css/styles.css') }}" rel="stylesheet">
  

  <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/images/favicon.ico') }}">
</head>

<body>
  <div class="container mx-auto">
    {% for variable in entradas %}
        {%set tipo = variable[1]%}
        {%set variable = variable[0]%}
        {%set variable_id = "post_"+variable%}
        <div>
        <p> {{variable}}:</p>
        </div>
        <div>
        {%if variable == "categorias"%}
          <select type={{tipo}} id={{variable_id}} name={{variable}} size="1">
          </select> 
        {%else%}
          <input class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
              type={{tipo}} id={{variable_id}} name={{variable}} placeholder="Buscar">
        {%endif%}
        </div>
    {% endfor %}
    <button id="boton_crear_producto" name="crear producto" type="submit" class="btn btn-success" style="font-size:1.2vw;height:2vw;width:10vw">Registrate</button>
  </div>
</body>
<script src="{{ url_for('static', path='js/posts_del_javascript/crear_producto.js') }}"></script>
</html>