<div class="mt-6 lg:mt-0 lg:px-2 lg:w-4/5 ">
  <div class="flex items-center justify-between text-sm tracking-widest uppercase ">
      <p class="text-gray-500">6 Items</p>
      <div class="flex items-center">
          <p class="text-gray-500">Ordenar por: </p>
          <select class="font-medium text-gray-700 bg-transparent focus:outline-none">
              <option value="#">Recomendados</option>
              <option value="#">Tamaño</option>
              <option value="#">Precio</option>
          </select>
      </div>
  </div>
  
  <div id="listaProductos" class="grid grid-cols-1 gap-8 mt-8 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
  </div>
</div>